body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
}

h3 {
    color: #333;
}

.my-graph .js-plotly-plot .plotly .nsewdrag {
    border: 2px solid black;
    background-color: #ffffffa4;
}

.Select-control {
    border-radius: 4px;
    border: 2px solid #000000;
    padding: 10px;
}

.Select--single > .Select-control .Select-value {
    padding: 6px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
div.figure-container {
    border: 2px solid black;
}